[submodule "internal/utils"]
	path = internal/utils
	url = git@github.com:doncicuto/openuem-utils.git
[submodule "internal/nats"]
	path = internal/nats
	url = git@github.com:doncicuto/openuem-nats.git
[submodule "internal/ent"]
	path = internal/ent
	url = git@github.com:doncicuto/openuem-ent.git
